body{
    background-color: #00407E ;
    font-family: Georgia;
    color: #FFCC00;
}
.navbar{
    background-color: #FFCC00 !important;

}
.navbar a{
    color: #00407E !important;
}
.dropdown-menu{
    background-color: #FFCC00 !important;
}
.dropdown-item{
    background-color: #FFCC00 !important;
}
.red{
    color: red;
}
.tablelist th{
    background-color: #00407E !important;
    color: #FFCC00;
}
.tablelist td{
    background-color: #2a6bad !important;
    color: #FFCC00;
}
.tablearchived th{
    background-color: #00407E !important;
    color: #FFCC00;
}
.tablearchived td{
    background-color: #2a6bad!important;
    color: #FFCC00;
}
.pictureProfil{
    height: 200px;
    width: 150px;
}
a{
    text-decoration: none;
    color: inherit;
    
}
a:hover {
    color: red;
    }
.imgpokemon{
    height: 60px;
    width: 150px;
}

    /* jaune #FFCC00 bleu #00407E #2a6bad  rgb(151, 77, 219) rgb(188, 141, 232) */